body, html {
    margin: 0;
    height: 100%;     
}

:root {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 70%;
    background-color: rgb(14 118 108);
    border-radius: 20px;
    display: flex;  
}


.leftSide {  
    flex: 1;
    background-image: url(./images/background.jpg);     
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
   
}

.rightSide {
    display: flex;
    flex-direction: column;
    flex: 1.2;
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(46 46 46 / 40%);
    column-gap: 10px;
    margin-top: 10%;

}

.logoImg {  
    width: 5vh; 
}

.description {
    margin: 4vh;
    color: white;
    font-size: 18px; 
    text-align: justify;
}

.formContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vh 4vh;
    box-shadow:  -2px 3px 10px 0px #3c3a3a;;
}
.formDiv {
    display: flex; 
    column-gap: 5vh;
}

.leftForm {
    flex: 1;
}

.rightForm {
    flex: 1;
}

label {
    font-size: 12px; 
}

.formDiv div {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

input {
    height: 25px; 
}

.lastSection {
    margin: 3vh 4vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
}

.lastSection button {
    width: 40%;
    height: 4vh;
    font-family: 'Nunito', sans-serif;
    color: black;
    background-color: #fddb4a;
    border-radius: 5px;
    box-shadow:  2px 3px 2px 0px black;
    font-weight: bold;
}

.lastSection span{
    color: white;
    font-size: 15px; 
}

.lastSection a{
    color: #fddb4a;
    font-size: 15px; 
    text-decoration: none;
    font-weight: bold;
}

input:focus {
    outline: none !important;
    border:1px solid  rgb(14 118 108);
    box-shadow: 0 0 3px  rgb(14 118 108);
}